<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }" (onHide)="onHide($event)">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">
                Ürün Ekleme
            </span>
        </div>
    </ng-template>
    <div class=" my-5">
        <p-floatLabel>
            <input id="username" type="text" class="w-full" pInputText />
            <label for="username">Ürün ID</label>
        </p-floatLabel>
    </div>
    <div class=" mb-5">
        <p-floatLabel>
            <input id="username" type="text" class="w-full" pInputText />
            <label for="username">Ürün Adı</label>
        </p-floatLabel>
    </div>
    @if (this.modalData.mode =='add') {

    <div class=" mb-5">
        <p-floatLabel>
            <input id="username" type="text" class="w-full" pInputText />
            <label for="username">Eklenecek Reyon</label>
        </p-floatLabel>
    </div>
    }@else if (this.modalData.mode =='edit') {


    <div class=" mb-5">
        <p-floatLabel>
            <input id="username" type="text" class="w-full" pInputText />
            <label for="username">Bulunduğu Reyon Türü</label>
        </p-floatLabel>
    </div>

    <div class=" mb-5">
        <p-floatLabel>
            <input id="username" type="text" class="w-full" pInputText />
            <label for="username">Taşınacak Marketi Seçiniz</label>
        </p-floatLabel>
    </div>

    <div class=" mb-5">
        <p-floatLabel>
            <input id="username" type="text" class="w-full" pInputText />
            <label for="username">Taşınacak Reyonu Seçiniz (Market A)</label>
        </p-floatLabel>
    </div>
    }



    <ng-template pTemplate="footer">
        <p-button label="Ekle" [outlined]="true" severity="secondary" (onClick)="modalData.open = false" />
    </ng-template>
</p-dialog>