<p-toolbar>
    <div class="p-toolbar-group-start">
        <h2>SupermarketApp</h2>
    </div>
    <div class="p-toolbar-group-center">
        <div class="card flex flex-column md:flex-row md:justify-content-between row-gap-3">
            <span class="mr-5 p-2 currency">Dolar 30 TL</span>
            <span class="mr-5 p-2 currency">Pound 45 TL</span>
            <span class="mr-5 p-2 currency">Euro 35 TL</span>
        </div>
    </div>
    <div class="p-toolbar-group-end">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Ürün Ara" />
        </span>
    </div>
</p-toolbar>